<div id="editMatchRecord">
	<h2>Edit Match Records</h2>
	<div ng-controller="EditMatchRecordCtrl">
		<form>
			<!-- The information on the team and who provided the information -->
			<b>Team and Match Info</b>
			<table>
				<tr>
				<td>Scout Name:</td><td><input type="text" ng-model="match.scout_name"></td>
				</tr>
				<tr>
				<td>Team Number:</td><td><input type="text" ng-model="match.team_num"></td>
				</tr>
				
				<tr>
				<td>Match Number:</td><td><input type="text" ng-model="match.match_num"></td>
				</tr>
				
				
			</table>
			
			<br/>
			
			<!-- The scores and values and such of the autonomous period -->
            <b>Autonomous</b>
			<table>
				<tr>
                <td>Crossed the midline?</td><td><input type="radio" value="yes" name="auton_midline" ng-model="match.auton_midline"> Yes <input type="radio" value="no" name="auton_midline" ng-model="match.auton_midline"> No</td>
                </tr> 
				
				<tr>
				<td>Number of balls scored/shot high:</td><td><input type="text" ng-model="match.auton_scored_high"> / <input type="text" ng-model="match.auton_shot_high"></td>
				</tr>

                <tr>
				<td>Number of balls scored/shot low:</td><td><input type="text" ng-model="match.auton_scored_low"> / <input type="text" ng-model="match.auton_shot_low"> </td>
				</tr>
				
				<tr>
				<td>Gears Placed: </td>
				<td><input type="text" ng-model="match.auton_gears"></td>
				</tr>
				
				<tr>
				<td>Rotors Started (For Alliance): </td>
				<td><input type="text" ng-model="match.auton_rotors"></td>
				</tr>
			</table>
			
			<br/>
			
			<!-- The scores and values and such of the teleoperated period -->
            <b>Teleoperated</b>
			<table >
				
				<tr>
				<td>Driver Ability </td>
				<td><input type="radio" value="1" name="driver_skill" ng-model="match.driver_skill">1<input type="radio" value="2" name="driver_skill" ng-model="match.driver_skill">2 <input type="radio" value="3" name="driver_skill" ng-model="match.driver_skill"> 3 <input type="radio" value="4" name="driver_skill" ng-model="match.driver_skill"> 4 <input type="radio" value="5" name="driver_skill" ng-model="match.driver_skill"> 5</td>
				</tr>
				
				<tr>
				<td>Human Player Ability </td>
				<td><input type="radio" value="1" name="human_skill" ng-model="match.human_skill">1<input type="radio" value="2" name="human_skill" ng-model="match.human_skill">2 <input type="radio" value="3" name="human_skill" ng-model="match.human_skill"> 3 <input type="radio" value="4" name="human_skill" ng-model="match.human_skill"> 4 <input type="radio" value="5" name="human_skill" ng-model="match.human_skill"> 5</td>
				</tr>
				
				<tr>
				<td>Defensive Ability </td>
				<td><input type="radio" value="1" name="defense_skill" ng-model="match.defense_skill">1<input type="radio" value="2" name="defense_skill" ng-model="match.defense_skill">2 <input type="radio" value="3" name="defense_skill" ng-model="match.defense_skill"> 3 <input type="radio" value="4" name="defense_skill" ng-model="match.defense_skill"> 4 <input type="radio" value="5" name="defense_skill" ng-model="match.defense_skill"> 5</td>
				</tr>
				
				<tr>
				<td>What type of bot?</td><td><input type="radio" value="Stand-Alone" name="bot_type" ng-model="match.bot_type"> Stand-Alone <input type="radio" value="Gear" name="bot_type" ng-model="match.bot_type"> Gear <input type="radio" value="Shooter" name="bot_type" ng-model="match.bot_type"> Shooter <input type="radio" value="Defender" name="bot_type" ng-model="match.bot_type"> Defender</td>
				</tr>
				
				<tr>
				<td>Shooter Range</td><td><input type="radio" value="Stand-Alone" name="shooter_range" ng-model="match.shooter_range"> Stand-Alone <input type="radio" value="Gear" name="shooter_range" ng-model="match.shooter_range"> Gear <input type="radio" value="Shooter" name="shooter_range" ng-model="match.shooter_range"> Shooter <input type="radio" value="Defender" name="shooter_range" ng-model="match.shooter_range"> Defender</td>
				</tr>
				
				<tr>
				<td>High balls scored:</td>
				<td><input type="text" ng-model="match.high_balls_scored"> / <input type="text" ng-model="match.high_balls_shot"  ></td> 
				</tr>
				
				<tr>
				<td>Low balls scored:</td>
				<td><input type="text" ng-model="match.low_balls_scored"> / <input type="text" ng-model="match.low_balls_shot"></td>
				</tr>
				
				<tr>
				<td>Gears Placed: </td>
				<td><input type="text" ng-model="match.gears"></td>
				</tr>
				
				<tr>
				<td>Rotors Started: </td>
				<td><input type="text" ng-model="match.teleop_rotors"></td>
				</tr>
				
				<tr>
				<td>Primary Intake Method:</td>
				<td><input type="radio" value="Floor Loading" ng-model="match.balls_acquired"> Floor Loading <input type="radio" value="Hopper" ng-model="match.balls_acquired"> Hopper <input type="radio" value="Human Player" ng-model="match.balls_acquired"> Human Player</td>
				</tr>
				
			</table>
			
			<br/>
			
			<!-- End Game, comments -->
			<b>End Game</b>
			<table>
				<tr>
                <td>Climbed</td>
                <td><input type="radio" value="yes" name="climb" ng-model="match.climb">Yes <input type="radio" value="no" name="climb" ng-model="match.climb">No</td>
                </tr> 
				
				<tr>
				<td>Comments:</td><td> <input type="message" ng-model="match.comments"></td>
				</tr>
			
			</table>
			</td><td><input type="submit" ng-click="updateMatchRecord()" value="Update Match Record">

		</form>
		
	</div>
</div>