<div id="teamOverview">
	<div ng-controller="TeamViewerCtrl">
		
		<div>
		<br>
		<a href = "#/event/{{event.event_id}}" class = "btn" >Return to Index</a>
		</div>
		
		<img src="../pics/{{team.team_num}}.jpg" alt="team picture" height="240" align="right"> 
		<h1>{{team.team_num}} - {{team.name}}</h1>
		{{team.locality}}, {{team.region}}

		<p><b> Base dimensions: {{interview.base_width}} inches wide by {{interview.base_length}} inches long.</p>
		Drive System: {{interview.drive_system}} <br>
		Wheel Num: {{interview.wheel_num}} <br>
		Speed: {{interview.speed}} ft / sec <br>
		
		<h3>Interview Data</h3>
		<a href="#/event/{{event.event_id}}/editInterview/{{interview.interview_id}}">Edit Interview Data</a>
		<table class="table table-striped">
			<tr>
				<th ng-click="reverse=!reverse; order('width', reverse)">Width</th>
                <th ng-click="reverse=!reverse; order('length', reverse)">Length</th>
                <th ng-click="reverse=!reverse; order('drive_motors', reverse)">Drive Motors</th>
                <th ng-click="reverse=!reverse; order('wheel_num', reverse)">Wheel #</th>
				<th ng-click="reverse=!reverse; order('drive_system', reverse)">Drive System</th>
				<th ng-click="reverse=!reverse; order('wheel_type', reverse)">Wheel Type</th>
				<th ng-click="reverse=!reverse; order('speed', reverse)">Speed</th>
				<th ng-click="reverse=!reverse; order('shooter_type', reverse)">Shooter Type</th>
				<th ng-click="reverse=!reverse; order('primary_area', reverse)">Primary Shooting Area</th>
				<th ng-click="reverse=!reverse; order('primary_goal', reverse)">Primary Goal</th>    
				<th ng-click="reverse=!reverse; order('portcullis', reverse)">Portcullis</th>				
				<th ng-click="reverse=!reverse; order('chevel', reverse)">Chevel</th>
				<th ng-click="reverse=!reverse; order('moat', reverse)">Moat</th>
                <th ng-click="reverse=!reverse; order('ramparts', reverse)">Ramparts</th>
				<th ng-click="reverse=!reverse; order('rough', reverse)">Rough</th>
				<th ng-click="reverse=!reverse; order('rockwall', reverse)">Rockwall</th>
				<th ng-click="reverse=!reverse; order('drawbridge', reverse)">Drawbridge</th>				
				<th ng-click="reverse=!reverse; order('sally', reverse)">Sally</th>
				<th ng-click="reverse=!reverse; order('low_bar', reverse)">Low Bar</th>
                <th ng-click="reverse=!reverse; order('challenge_ability', reverse)">Challenge</th>
				<th ng-click="reverse=!reverse; order('scale_ability', reverse)">Scale</th>
			</tr>
			<tr>
			    <td>{{interview.base_width}}</td>
			    <td>{{interview.base_length}}</td>
			    <td>{{interview.drive_motors}}</td>
                <td>{{interview.wheel_num}}</td>
				<td>{{interview.drive_system}}</td>
				<td>{{interview.wheel_type}}</td>
				<td>{{interview.speed}}</td>
				<td>{{interview.shooter_type}}</td>
				<td>{{interview.primary_area}}</td>
				<td>{{interview.primary_goal}}</td>
				<td>{{interview.portcullis}}</td>
				<td>{{interview.chevel}}</td>
				<td>{{interview.moat}}</td>
                <td>{{interview.ramparts}}</td>
                <td>{{interview.drawbridge}}</td>
                <td>{{interview.sally}}</td>
				<td>{{interview.rough}}</td>
				<td>{{interview.rockwall}}</td>
				<td>{{interview.low_bar}}</td>
				<td>{{interview.challenge_ability}}</td>
				<td>{{interview.scale_ability}}</td>
			</tr>
		</table>
		<h3>Match Data</h3>
		<table class="table table-striped">
		<tr>
				<th ng-click="reverse=!reverse; order('match_num', reverse)">Match #</th>
				<th ng-click="reverse=!reverse; order('scout_name', reverse)">Scout</th>
				<th ng-click="reverse=!reverse; order('auton_reach', reverse)">Auton Reach</th>
				<th ng-click="reverse=!reverse; order('auton_cross', reverse)">Auton Cross</th>
				<th ng-click="reverse=!reverse; order('auton_midline', reverse)">Auton Midline</th>
				<th ng-click="reverse=!reverse; order('auton_scored_high', reverse)">Auton High</th>
				<th ng-click="reverse=!reverse; order('auton_scored_low', reverse)">Auton Low</th>
				<th ng-click="reverse=!reverse; order('bot_type', reverse)">Bot Type</th>
				<th ng-click="reverse=!reverse; order('defensive_ability', reverse)">Defensive Ability</th>
				<th ng-click="reverse=!reverse; order('portcullis_crossings', reverse)">Portcullis Crossings</th>
				<th ng-click="reverse=!reverse; order('chevaldefrise_crossings', reverse)">Chevel de Frise Crossings</th>
                <th ng-click="reverse=!reverse; order('moat_crossings', reverse)">Moat Crossings</th>
				<th ng-click="reverse=!reverse; order('ramparts_crossings', reverse)">Ramparts Crossings</th>
				<th ng-click="reverse=!reverse; order('drawbridge_crossings', reverse)">Drawbridge Crossings</th>
				<th ng-click="reverse=!reverse; order('sallyport_crossings', reverse)">Sallyport Crossings</th>
				<th ng-click="reverse=!reverse; order('roughterrain_crossings', reverse)">Rough Terrain Crossings</th>
				<th ng-click="reverse=!reverse; order('rockwall_crossings', reverse)">Rockwall Crossings</th>
				<th ng-click="reverse=!reverse; order('lowbar_crossings', reverse)">Lowbar Crossings</th>
				<th ng-click="reverse=!reverse; order('shooter_range', reverse)">Shooter Range</th>
				<th ng-click="reverse=!reverse; order('primary_goal', reverse)">Primary Goal</th>
                <th ng-click="reverse=!reverse; order('high_boulders_scored', reverse)">High Boulders</th>
				<th ng-click="reverse=!reverse; order('low_boulders_scored', reverse)">Low Boulders</th>
                <th ng-click="reverse=!reverse; order('balls_acquired', reverse)">Balls Acquired</th>
                <th ng-click="reverse=!reverse; order('challenge', reverse)">Challenged</th>
                <th ng-click="reverse=!reverse; order('scaled', reverse)">Scaled</th>
				<th ng-click="reverse=!reverse; order('comments', reverse)">Comments</th>
				<th>Edit Match</th>
			</tr>
			<tr ng-repeat="match in matches">
				<td>{{match.match_num}}</td>
				<td>{{match.scout_name}}</td>
				<td>{{match.auton_reach}}</td>
				<td>{{match.auton_cross}}</td>
				<td>{{match.auton_midline}}</td>
				<td>{{match.auton_scored_high}} / {{match.auton_shot_high}}</td>
				<td>{{match.auton_scored_low}} / {{match.auton_shot_low}}</td>
                <td>{{match.bot_type}}</td>
                <td>{{match.defensive_ability}}</td>
				<td>{{match.portcullis_crossings}}</td>
				<td>{{match.chevaldefrise_crossings}}</td>
                <td>{{match.moat_crossings}}</td>
				<td>{{match.ramparts_crossings}}</td>
				<td>{{match.drawbridge_crossings}}</td>
				<td>{{match.sallyport_crossings}}</td>
				<td>{{match.roughterrain_crossings}}</td>
				<td>{{match.rockwall_crossings}}</td>	
				<td>{{match.lowbar_crossings}}</td>
				<td>{{match.shooter_range}}</td>
				<td>{{match.primary_goal}}</td>
				<td>{{match.high_boulders_scored}} / {{match.high_boulders_shot}}</td>
				<td>{{match.low_boulders_scored}} / {{match.low_boulders_shot}}</td>	
                <td>{{match.balls_acquired}}</td>	
				<td>{{match.challenge}}</td>
				<td>{{match.scaled}}</td>
				<td>{{match.comments}}</td>
				
				<td><a href="#/event/{{event.event_id}}/editMatch/{{match.match_id}}">Edit Match Data</a></td>

			</tr>
		</table>		
	</div>
</div>