<div id="teams">
	<h2>Teams</h2>
	<div ng-controller="teamsCtrl">
		<form>
			<label>Team Number: <input type="text" ng-model="teamNum"></label>
			<br>
			<label>Team Name: <input type="text" ng-model="teamName"></label>
			<br><br>
			<label><b>Autonomous</b><label>
			<br>
			<label>Robot Set: Yes<input type="radio" value="yes" name="mobility" ng-model="mobility"> No<input type="radio" value="no" name="mobility" ng-model="mobility"></label>
			<br>
			<label># of Totes Set: <input type="text" ng-model="toteSet"></label>
			<br>
			<label>Stacked Tote Set: Yes<input type="radio" value="yes" name="stackSet" ng-model="stackSet"> No<input type="radio" value="no" name="stackSet" ng-model="stackSet"></label>
			<br>
			<label># of Containers Set: <input type="text" ng-model="containerSet"></label>
			<br>
			<label># of Containers Knocked off Step: <input type="text" ng-model="containerStep"></label>
			<br><br>
			<label><b>Teleoperated</b><label>
			<br>
			<label># of Totes Scored: <input type="text" ng-model="toteScored"></label>
			<br>
			<label>Max Tote Level: <input type="text" ng-model="toteLevel"></label>
			<br>
			<label># of Containers Scored: <input type="text" ng-model="containerScored"></label>
			<br>
			<label>Container Levels: <input type="text" ng-model="containerLevel1"size=1><input type="text" ng-model="containerLevel2" size=1><input type="text" ng-model="containerLevel3" size=1><input type="text" ng-model="containerLevel4" size=1><input type="text" ng-model="containerLevel5" size=1><input type="text" ng-model="containerLevel6"size=1><input type="text" ng-model="containerLevel7" size=1></label>
			<br>
			<label># of Noodles Scored in Containers: <input type="text" ng-model="noodleContainer"></label>
			<br>
			<label># of Noodles Scored in Landfill: <input type="text" ng-model="noodleLandfill"></label>
			<br>
			<label># of Own Stacks Toppled: <input type="text" ng-model="stackTopple"></label>
			<br>
			<label>DOES THIS CHANGE ANYTHING? IF SO, THIS PAGE USES TEAMS.HTML <input type="text" ng-model="stackTopple"></label>
			<br><br>
			<label><b>Overall</b></label>
			<br>
			<label># of Penalty Points: <input type="text" ng-model="penaltyPoints"></label>
			<br>
			<label>Penalty Descriptions: <input type="text" ng-model="penaltyDesc"></label>
			<br>
			<label>Comments: <input type="text" ng-model="comments"></label>
			<br>

			<input type="submit" ng-click="addMatchRecord(matchNum, 'EVENTID', teamNum, alliance, scoutName, mobility, toteSet, stackSet, containerSet, containerStep, toteScored, toteLevel,containerScored, containerLevel1, containerLevel2, containerLevel3, containerLevel4, containerLevel5, containerLevel6, containerLevel7, noodleContainer, noodleLandfill, stackTopple, penaltyPoints, penaltyDesc, comments)" value="Add Event">
		</form>		
	</div>
</div>