<div id="eventOverview">
	<div ng-controller="EventViewerCtrl">

		<!-- Buttons -->
		<div id="addDataButtons">
			<a href="#/event/{{eventID}}/addMatchRecord" class="btn">Add Match Record</a>
			<a href="#/event/{{eventID}}/addInterview" class="btn">Add Interview</a>
		</div>
		
		<h2>{{event.name}}</h2>
		
		<!-- Teams and their game information -->
		<h3>Teams</h3>
		<table class="table table-striped">
			<tr>
				<th>i</th>
				<th ng-click="reverse=!reverse; order('team_num', reverse)">Team #</th>
				<th ng-click="reverse=!reverse; order('name', reverse)">Team Name</th>
				<th ng-click="reverse=!reverse; order('avgHighScored', reverse)">Avg. High Goals Scored</th>
				<th ng-click="reverse=!reverse; order('totalHighScored', reverse)">Total High Goals Scored</th>
				<th ng-click="reverse=!reverse; order('avgLowScored', reverse)">Avg. Low Goals Scored</th>
				<th ng-click="reverse=!reverse; order('totalLowScored', reverse)">Total Low Goals Scored</th>
				<th ng-click="reverse=!reverse; order('totalGearsScored', reverse)">Total Gears Scored</th>
				<th ng-click="reverse=!reverse; order('totalRotorsScored', reverse)">Total Rotors Scored</th>
			
				<!--<th ng-click="reverse=!reverse; order('avgAutonScored', reverse)">Avg. Auton Scored</th>
					<th ng-click="reverse=!reverse; order('totalAutonScored', reverse)">Total Auton Scored</th>-->

			</tr>
			<tr ng-repeat="team in teams" ng-click="openTeamViewer(team)">
				<td>{{$index + 1}}</td>
				<td>{{team.team_num}}</td>
				<td>{{team.name}}</td>
				<td>{{team.avgHighScored}}</td>
				<td>{{team.totalHighScored}}</td>
				<td>{{team.avgLowScored}}</td>
				<td>{{team.totalLowScored}}</td>
				<td>{{team.totalGearsScored}}</td>
				<td>{{team.totalRotorsScored}}</td>

			</tr>
		</table>
		
		<!-- Teams and their interview data -->
		<h3>Interview Data</h3>
		<table class="table table-striped">
			<tr>
				<th ng-click="reverse=!reverse; order('team_num', reverse)">#</th>
				<th ng-click="reverse=!reverse; order('drive_system', reverse)">Drive System</th>
				<th ng-click="reverse=!reverse; order('wheel_num', reverse)">Wheel #</th>
				<th ng-click="reverse=!reverse; order('speed', reverse)">Speed</th>
				<th ng-click="reverse=!reverse; order('primary_goal', reverse)">Primary Shooting Goal</th>
			</tr>
			<tr ng-repeat="interviewRecord in interviews">
				<td>{{interviewRecord.team_num}}</td>
				<td>{{interviewRecord.drive_system}}</td>
				<td>{{interviewRecord.wheel_num}}</td>
				<td>{{interviewRecord.speed}}</td>
				<td>{{interviewRecord.primary_goal}}</td>
			</tr>
		</table>
	</div>
</div>