<div id="editInterviewRecord">
	<h2>Edit Interview Records</h2>
	<div ng-controller="EditInterviewRecordCtrl">
		<form>
		<h2>Overall</h2>        
            <table>
				<tr>
				<td><label>Team Number:</td><td><input type="text" name="team_num" ng-model="interview.team_num"></label></td>
				</tr>
				<tr>
				<td><label>Scout Name:</td><td><input type="text" name="scout_name" ng-model="interview.scout_name"></label></td>
				</tr>
			</table>
			
            <h2>Drive System</h2>
			<table>
				<br>
				<tr>
				<td><label>Base Width:</td><td><input type="text" name="width" ng-model="interview.base_width"> inches</td>
				</tr>
				<tr>
                <td><label>Base Length:</td><td><input type="text" name="length" ng-model="interview.base_length"> inches</td>
				</tr>
				<tr>
				<td>Type of drive motors:</td>
				<td><input type="radio" value="CIM" name="drive_motors" ng-model="interview.drive_motors"> CIM
				<input type="radio" value="MiniCIM" name="drive_motors" ng-model="interview.drive_motors"> MiniCIM
				<input type="radio" value="775" name="drive_motors" ng-model="interview.drive_motors"> 775</td>
				</tr>
				<tr>
				<td><label># of Wheels:</td><td><input type="text" ng-model="interview.wheel_num" value="4"></label></td>
				</tr>
				<tr>
				<td><label>Drive System:</td><td>
                <input type="radio" value="tank" name="drive_system" ng-model="interview.drive_system"> High Traction Tank </br>
				<input type="radio" value="Mecanum" name="drive_system" ng-model="interview.drive_system"> Mecanum </br>
				<input type="radio" value="Kit Tank" name="drive_system" ng-model="interview.drive_system"> Kit Tank </br>
				<input type="radio" value="Swerve" name="drive_system" ng-model="interview.drive_system"> Swerve </br>
				<input type="radio" value="Omni Traction Hybrid" name="drive_system" ng-model="interview.drive_system"> Omni Traction Hybrid </br>
				Other: <input type = "text" name = "drive_system" ng-model="interview.drive_system"></label></td>
				</tr>
				<tr>
				<td>Wheel type:</td>
				<td>
				<input type="radio" value="Colsons" name="wheel_type" ng-model="interview.wheel_type"> Colsons </br>
				<input type="radio" value="Pneumatic" name="wheel_type" ng-model="interview.wheel_type"> Pneumatic </br>
				<input type="radio" value="Omni" name="wheel_type" ng-model="interview.wheel_type"> Omni</br>
				<input type="radio" value="AndyMark" name="wheel_type" ng-model="interview.wheel_type"> AndyMark </br>
				<input type="radio" value="KOP" name="wheel_type" ng-model="interview.wheel_type"> KOP </br>
				<input type="radio" value="Mecanum" name="wheel_type" ng-model="interview.wheel_type"> Mecanum </br>
                <input type="radio" value="Custom" name="wheel_type" ng-model="interview.wheel_type"> Custom
				</td>
				</tr>
				<tr>
				<td><label>Speed:</td><td><input type="text" ng-model="interview.speed"> feet per second.</label></td>
				</tr>
			</table>
			
			<h2>Shooter</h2>
			<table>
            <tr>
            <td><label>Shooter Type:</td><td>
			      <input type="radio" value="catapault" name="shooter_type" ng-model="interview.shooter_type"> Catapault </br>
				<input type="radio" value="slingshot" name="shooter_type" ng-model="interview.shooter_type"> Slingshot </br>
				<input type="radio" value="Puncher" name="shooter_type" ng-model="interview.shooter_type"> Puncher </br>
				<input type="radio" value="Kicker" name="shooter_type" ng-model="interview.shooter_type"> Kicker </br>
				<input type="radio" value="PitchingWheel" name="shooter_type" ng-model="interview.shooter_type"> Pitching Wheel </br>
				Other: <input type = "text" name = "shooter_type" ng-model="interview.shooter_type"></label></td>
			  </tr>
				<tr>
				<td><label>Primary Shooting Area:</td>
				<td>
				    <input type="radio" value="outer_works" name="primary_area" ng-model="interview.primary_area"> Outer works </br>
                    <input type="radio" value="courtyard" name="primary_area" ng-model="interview.primary_area"> Courtyard </br>
                    <input type="radio" value="batter" name="primary_area" ng-model="interview.primary_area"> Batter
                </td>
				</tr>
				<tr>
				<td><label>Primary Goal:</td><td>
				<input type="radio" value="high" name="primary_goal" ng-model="interview.primary_goal"> High </br>
				<input type="radio" value="low" name="primary_goal" ng-model="interview.primary_goal"> Low </br>
				<input type="radio" value="both" name="primary_goal" ng-model="interview.primary_goal"> Both
			</table>
			<h2>Defenses </h2>
			<table>
            <tr>
				<td><label>Portcullis</td><td>Yes<input type="radio" value="yes" name="portcullis" ng-model="interview.portcullis">No<input type="radio" value="no" name="portcullis" ng-model="interview.portcullis"></label></td>
			</tr>
             <tr>
				<td><label>Chevel de Frise</td><td>Yes<input type="radio" value="yes" name="chevel" ng-model="interview.chevel">No<input type="radio" value="no" name="chevel" ng-model="interview.chevel"></label></td>
			</tr>
             <tr>
			<td><label>Moat</td><td>Yes<input type="radio" value="yes" name="moat" ng-model="interview.moat">No<input type="radio" value="no" name="moat" ng-model="interview.moat"></label></td>
			</tr>             
            <tr>
			<td><label>Ramparts</td><td>Yes<input type="radio" value="yes" name="ramparts" ng-model="interview.ramparts">No<input type="radio" value="no" name="ramparts" ng-model="interview.ramparts"></label></td>
			</tr>            
            <tr>
			<td><label>Drawbridge</td><td>Yes<input type="radio" value="yes" name="drawbridge" ng-model="interview.drawbridge">No<input type="radio" value="no" name="drawbridge" ng-model="interview.drawbridge"></label></td>
			</tr>            
            <tr>
			<td><label>Sally Port</td><td>Yes<input type="radio" value="yes" name="sally" ng-model="interview.sally">No<input type="radio" value="no" name="sally" ng-model="interview.sally"></label></td>
			</tr>           
            <tr>
			<td><label>Rough Terrain</td><td>Yes<input type="radio" value="yes" name="rough" ng-model="interview.rough">No<input type="radio" value="no" name="rough" ng-model="interview.rough"></label></td>
			</tr>            
            <tr>
			<td><label>Rockwall</td><td>Yes<input type="radio" value="yes" name="rockwall" ng-model="interview.rockwall">No<input type="radio" value="no" name="rockwall" ng-model="interview.rockwall"></label></td>
			</tr>            
            <tr>
			<td><label>Low Bar</td><td>Yes<input type="radio" value="yes" name="low_bar" ng-model="interview.low_bar">No<input type="radio" value="no" name="low_bar" ng-model="interview.low_bar"></label></td>
			</tr>
		  </table>
			<h2>Tower</h2>
			<table>
				<tr>
				<td><label>Challenge Ability:</td><td>Yes<input type="radio" value="yes" name="challenge_ability" ng-model="interview.challenge_ability">No<input type="radio" value="no" name="challenge_ability" ng-model="interview.challenge_ability"></label></td>
				</tr>
				<tr>
				<td><label>Scale Ability:</td><td>Yes<input type="radio" value="yes" name="scale_ability" ng-model="interview.scale_ability">No<input type="radio" value="no" name="scale_ability" ng-model="interview.scale_ability"></label></td>
				</tr>
			</table>
			<input type="submit" ng-click="updateInterviewRecord()" value="Update Interview Record">
		</form>
		
	</div>
</div>